.image {
    margin: 0 0 0 60px;
    max-width: 200px;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
}

.headmage {
    margin: 0 60px 0 0;
}

.heading {
    margin-top: 5px;

}

.examplelink {
    line-height: 24px;
    margin-right: 16px;
}

[data-theme='compact'] .examplelink {
    line-height: 20px;
}

.examplelinkicon {
    margin-right: 8px;
}

.price_wrapper {
    position: relative;
    display: inline-block;
}

.price_slash {
    position: relative;
    width: 100%;
    height: 0;
    border-top: 2px solid red;
    transform: rotate(-16deg);
    top: 17px;
}

.header {
    background: white;
}

[data-theme='compact'] .examplelinkicon {
    width: 20px;
    height: 20px;
}
.btn{
    margin-right:15px;
    margin-left:15px;
}

.column {
    padding: 10px;
    margin: 10px;
}

.examplelink {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.examplelinkicon {
    margin-right: 0;
    margin-left: 8px;
}

@media (max-width: 768px) {
    .image {
        flex: 100%;
        margin: 24px 0 0;
    }

    .header {
        padding: 20px;
    }
}