.editable-cell {
    position: relative;
}

.editableCell {
    padding: 5px 12px;
    cursor: pointer;
}

.editableCell:hover {
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.editableRow:hover .editableCell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

[data-theme='dark'] .editableRow:hover .editableCell {
    border: 1px solid #434343;
}